<header>
    <div class="content">
        <div id="test" class="d-md-none mobile-menu-wrapper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <nav>
                            <ul class="horizontal">
                                <li>
                                    <a href="games.html">Игры</a>
                                </li>
                                <li>
                                    <a href="news.html">Новости</a>
                                </li>
                                <li>
                                    <a href="team.html">Команда</a>
                                </li>
                                <li>
                                    <a href="vacancies.html">Карьера</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="w-100"></div>
                        <ul class="horizontal language-switcher">
                            <li class="active">
                                <p>Ru</p>
                            </li>
                            <li>
                                <a href="#">Ua</a>
                            </li>
                            <li>
                                <a href="#">En</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-9 col-md-3 col-lg-2 align-items-center">
                    <a class="d-block logo" href="index.html">
                        <img src="./assets/img/logo-white.png" alt="Ab Games Logo">
                    </a>
                </div>
                <div class="col col-3 col-md-9 col-lg-7 justify-content-end align-items-center">
                    <div class="d-none d-md-flex">
                        <nav>
                            <ul class="horizontal">
                                <li>
                                    <a href="games.html">Игры</a>
                                </li>
                                <li>
                                    <a href="news.html">Новости</a>
                                </li>
                                <li>
                                    <a href="team.html">Команда</a>
                                </li>
                                <li>
                                    <a href="vacancies.html">Карьера</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                        <ul class="horizontal language-switcher">
                            <li class="active">
                                <p>Ru</p>
                            </li>
                            <li>
                                <a href="#">Ua</a>
                            </li>
                            <li>
                                <a href="#">En</a>
                            </li>
                        </ul>
                    </div>
                    <div class="d-md-none test mobile-menu-toggle hamburger hamburger--collapse" tabindex="0"
                         aria-label="Menu" role="button" aria-controls="navigation" aria-expanded="true/false">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="figure figure-divider"></div>
</header>
<main style="background-image: url('./assets/img/main-bg.jpg')">