$bottomHeight: 70;
$lineHeight: 30;
$z-index-1: 5;
$z-index-2: 7;
.banner {
    &-intro {
        %z-index-up {
            z-index: $z-index-2;
        }
        %hide-portrait {
            @media (orientation: portrait) {
                display: none;
            }
        }
        %hide-sm {
            @include breakpoint(sm) {
                display: none;
            }
        }
        //border-bottom: solid responsive-size-height($bottomHeight) $color-full-black;
        .z-index-up {
            @extend %z-index-up;
        }
        height: 90vh;
        @include breakpoint(md) {
            height: 100vh;
        }
        position: relative;
        background-position: center top;
        background-size: cover;
        @media (orientation: portrait) {
            background-position: right top;
        }
        > div {
            position: absolute;
        }
        .content {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            z-index: $z-index-1;
            h1,h2,h3,h4,h5 {
                @extend %animation-overlay-l;
                @extend %text-shadow-black-lg;
            }
        }
        figure.figure-banner-bottom {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            overflow: hidden;
            @extend %animation-appear-b;
            @media (orientation: portrait) {
                border-bottom-width: responsive-size-height-tablet(100);
                background-size: auto responsive-size-height(305);
            }
            img {
                position: absolute;
                width: auto;
                max-height: 100%;
                max-width: 100%;
                &.bottom {
                    &-center {
                        position: relative;
                        @media (orientation: portrait) {
                            max-width: none;
                            height: responsive-size-height(420);
                            border-bottom: solid 40px $color-full-black;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    &-left {
                        height: responsive-size-height(590);
                        bottom: 0;
                        left: 0;
                        @extend %z-index-up;
                        @extend %hide-sm;
                    }
                    &-right {
                        height: responsive-size-height(480);
                        bottom: responsive-size-height(80);
                        right: 0;
                        @extend %z-index-up;
                        @extend %hide-sm;
                    }
                }
            }
            *.relative {
                position: relative;
            }
            .bottom-line {
                height: responsive-size-height($bottomHeight);
                background: #000 url("../img/intro-banner-line-repeat.png") left top repeat-x;
                background-size: auto responsive-size-height($lineHeight);
                @extend %z-index-up;
                @include breakpoint(sm) {
                    height: 40px;
                }
            }
        }
        .social {
            left: responsive-size-width(120);
            bottom: responsive-size-height(15);
            @extend %animation-appear-b;
            @extend %z-index-up;
            @media (orientation: portrait) {
                left: responsive-size-height(130);
            }
            @include breakpoint(sm) {
                width: 100%;
                left: 0;
                ul.horizontal {
                    justify-content: center;
                }
            }
        }
        .hot-news {
            right: 0;
            bottom: 0;
            @extend %animation-appear-b;
            @extend %z-index-up;
            text-transform: uppercase;
            @extend %text-shadow-black-md;
            @extend %font-style-title;
            font-size: responsive-size-height(30);
            @include breakpoint(sm) {
                display: none;
            }
        }
    }
}