// general
%block-horizontal {
    @extend %colInner;
}
%block-thumbnail {
    .thumbnail {
        overflow: hidden;
        position: relative;
        @extend %animation-overlay-b;
        img {
            &.current {
                opacity: 1;
                @extend %transition-opacity-fast;
            }
            &.hover {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                @extend %transition-opacity-fast;
            }
        }
        &:hover {
            img {
                &.current {
                    opacity: 0;
                }
                &.hover {
                    opacity: 1;
                }
            }
        }
    }
}
// title
%block-title-main {
    display: inline-flex;
    @extend %font-style-title;
    @include responsive-font-size-title(h4);
}
%block-title-additional {
    display: inline-flex;
    @extend %font-style-title-alternative;
    font-weight: 700;
    @include responsive-font-size-title(h5);
    @extend %text-ellipsis;
}
%block-title-info {
    display: inline-flex;
    @extend %font-style-general;
    font-size: 1em;
}
%block-text-hint {
    display: inline-flex;
    @extend %font-style-general;
    font-size: 1em;
    color: $color-app-gray;
}
%block-titles {
    .title {
        &-main {
            @extend %block-title-main;
        }
        &-additional {
            @extend %block-title-additional;
        }
        &-info {
            @extend %block-title-info;
        }
    }
}
// space
%block-inner-space-lr {
    @include space-responsive-padding-lr(55);
}
%block-inner-space-tb {
    @include space-responsive-padding-tb(65);
}
%block-inner-space-round {
    @extend %block-inner-space-tb;
    @extend %block-inner-space-lr;
}
.block {
    &-style {
        &-1 {
            width: 100%;
            @extend %block-thumbnail;
            .thumbnail {
                width: 100%;
                &:not(:first-child) {
                    @include space-responsive-margin-t($contentInnerSpace);
                }
                &:first-child {
                    @include space-responsive-margin-b($contentInnerSpace);
                }
            }
            .content {
                > *:not(.title-large) {
                    @extend %animation-appear-b;
                }
                .title {
                    &-large {
                        font-size: responsive-font-size(240);
                        @extend %font-style-title;
                        @extend %animation-overlay-l;
                        text-align: center;
                        @include breakpoint(sm) {
                            font-size: responsive-font-size(140);
                        }
                    }
                }
                @extend %block-titles;
                .text {
                    &-main {
                    }
                }
                .excerpt {
                    &-main {
                        @extend %text-max-center;
                    }
                }
                .link {
                    &-text {
                        @extend %text-link-hint;
                    }
                }
            }
        }
    }
    &-product {
        &-slider {
            width: 100%;
            .current {
                @extend %animation-overlay-b;
            }
            .thumbnails {
                @extend %animation-appear;
                %arrow {
                    cursor: pointer;
                    svg {
                        width: 15px;
                        height: auto;
                        margin-left: auto;
                        margin-right: auto;
                        path {
                            @include transition-custom(stroke);
                        }
                    }
                    &:hover {
                        svg {
                            path {
                                stroke: $color-app-gray;
                            }
                        }
                    }
                }
                .arrow {
                    &-prev {
                        @extend %arrow;
                        @include space-responsive-margin-b($contentInnerSpace);
                        &:hover {

                        }
                    }
                    &-next {
                        @extend %arrow;
                        @include space-responsive-margin-t($contentInnerSpace);
                    }
                }
                .list {
                    @extend %content-vertical-center;
                }
                .thumbnail {
                    max-width: 45px;
                    position: relative;
                    overflow: hidden;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: solid 1px $color-app-gray;
                        @include transform(translateY(110%));
                        @extend %transition-transform-fast;
                    }
                    img {
                        @extend %transition-transform-fast;
                        @include transform(scale(.8));
                        &:hover {
                            @include transform(scale(.9));
                        }
                    }
                    &.active {
                        &:after {
                            @include transform(translateY(0));
                        }
                        img {
                            @include transform(scale(1));
                        }
                    }
                }
            }
        }
        &-info {
            width: 100%;
            @extend %block-titles;
            > * {
                @extend %animation-appear-b;
            }
            .text {
                &-hint {
                    @extend %block-text-hint;
                }
            }
            a.text {
                &-hint {
                    text-decoration: underline;
                    @extend %hover-color-dark;
                }
            }
            .price {
                &-main {
                    @extend %font-style-title;
                    font-size: responsive-font-size(40);
                }
            }
            form.add-to-cart:not(:last-child) {
                @include space-responsive-margin-b($contentSpace);
            }
            .product-info-heading {
                .w-100.d-lg-none {
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}