.btn {
    display: block;
    width: 100%;
    text-align: center;
    @extend %text-ellipsis;
    @extend %animation-appear;
    @include breakpoint(xl, true) {
        max-width: responsive-size-width(400);
    }
    &-color {
        &-dark {
            background-color: $color-app-dark !important;
            color: $color-app-light;
            border: solid 1px $color-app-dark;
            @extend %transition-all-fast;
            &:hover {
                background-color: $color-app-light !important;
                color: $color-app-dark;
                border-color: $color-app-dark;
            }
        }
        &-light {
            background-color: $color-app-light !important;
            color: $color-app-dark;
            border: solid 1px $color-app-light;
            @extend %transition-all-fast;
            &:hover {
                background-color: $color-app-dark !important;
                color: $color-app-light;
                border-color: $color-app-light;
            }
        }
    }
    &-size {
        &-responsive {
            &-md {
                @extend %btn-size-md;
            }
        }
        &-fixed {
            &-md {
                width: responsive-size-width(400px);
                text-align: center;
                @include breakpoint(md) {
                    width: responsive-size-width(280px);
                }
            }
        }
    }
}