// General
%after-full {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

%content-vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

// Size
%screen-fullheight {
    height: 100vh;
}

// Font
// Style
%font-style-general {
    font-family: "Helios", sans-serif;
    font-weight: 300;
}
%font-style-title {
    font-family: "NarzissPro", sans-serif;
}
%font-style-title-alternative {
    font-family: "EngraversGothic", sans-serif;
}

// Space
// Content
%content-padding-b {
    @include space-responsive-padding-b($contentSpace);
}
%title-margin-b {
    @include space-responsive-margin-b($contentInnerSpace);
}

// Text
%text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%text-shadow-black-lg {
    text-shadow: 7*sin(30deg)*1px 7*sin(60deg)*1px 7px rgba($color-app-dark, .75);
}

%text-shadow-black-md {
    text-shadow: 0 0 5px rgba($color-app-dark, .75);
}

%text-align-center {
    text-align: center;
}

%text-max-center {
    text-align: center;
    max-width: responsive-size-width(400);
    @include breakpoint(lg) {
        max-width: responsive-size-width-tablet(280);
    }
    @include breakpoint(md) {
        max-width: 100%;
    }
}

%text-link-hint {
    font-style: italic;
    text-decoration: underline;
}

// Box shadow
%box-shadow-active-md {
    @include box-shadow(inset 0 0 3px 4px $color-app-active);
}

%box-shadow-active-sm {
    @include box-shadow(inset 0px 0px 5px 2px $color-app-active);
}

// Buttons
// Default
%btn {
    display: inline-block;
    max-width: responsive-size-width(560);
    @include breakpoint(md) {
        max-width: 100%;
    }
    @extend %text-ellipsis;
}

// Size
%btn-size-md {
    @extend %btn-inner-space;
    line-height: $btnLineHeight;
    padding-top: $btnSpaceTb;
    padding-bottom: $btnSpaceTb;
    text-transform: uppercase;
    font-size: responsive-font-size($btnFontSize);
}

%btn-size-lg {
    @include space-responsive-padding-tb(40);
    @include space(35, px, plr);
}

// Backgrounds
%btn-bg-transparent {
    background: transparent;
}

/// Glows
%inner-glow-active-sm {
    @extend %after-full;
    &:after {
        @extend %box-shadow-active-sm;
    }
}

%inner-glow-active-md {
    @extend %after-full;
    &:after {
        @extend %box-shadow-active-md;
    }
}

// Backgrounds
%bg-transparent-active {
    background-color: rgba($color-app-active, 0.8);
    @extend %transition-background_color-fast;
    &:hover {
        background-color: rgba($color-app-active, 1);
    }
}

%bg-transparent-dark {
    background-color: rgba($color-app-dark, 0.6);
    @extend %transition-background_color-fast;
    &:hover {
        background-color: rgba($color-app-dark, 1);
    }
}

// Transition
// All
%transition-all-fast {
    @include transition-custom();
}
%transition-all-slow {
    @include transition-custom(all, $transition-duration-slow);
}
// Color
%transition-color-fast {
    @include transition-custom(color);
}
// Opacity
%transition-opacity-fast {
    @include transition-custom(opacity, $transition-duration-fast, $linear);
}
%transition-opacity-slow {
    @include transition-custom(opacity, $transition-duration-slow, $linear);
}
// Transform
%transition-transform-fast {
    @include transition-custom(transform);
}
%transition-transform-slow {
    @include transition-custom(transform, $transition-duration-slow, $linear);
}
// Background Color
%transition-background_color-fast {
    @include transition-custom(background-color);
}
%transition-background_color-slow {
    @include transition-custom(background-color, $transition-duration-slow);
}
// Border Color
%transition-border_color-fast {
    @include transition-custom(border-color);
}
%transition-border_color-slow {
    @include transition-custom(border-color, $transition-duration-slow);
}

// Animations
// Overlay
%animation-overlay-l {
    @include breakpoint(lg, true) {
        opacity: 0;
        &:before {
            content: 'a-o-l';
            display: none;
        }
    }
}
%animation-overlay-b {
    @include breakpoint(lg, true) {
        opacity: 0;
        &:before {
            content: 'a-o-b';
            display: none;
        }
    }
}

// Appear
%animation-appear {
    @include breakpoint(lg, true) {
        opacity: 0;
        &:before {
            content: 'a-a';
            display: none;
        }
    }
}
%animation-appear-b {
    @include breakpoint(lg, true) {
        opacity: 0;
        visibility: hidden;
        &:before {
            content: 'a-a-b';
            display: none;
        }
    }
}

// Sections
%section-text-light {
    h1,h2,h3,h4,h5, p, li a, > a {
        color: $color-app-light;
    }
    li a, > a {
        @extend %hover-color-active;
        li.active {
            a {
                color: $color-app-active;
                text-decoration: underline;
            }
        }
    }
}

%content-inner-space {
    @include space-responsive-padding-lr($innerSpaceLR);
    @include breakpoint(md) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

%btn-inner-space {
    @include space-responsive-padding-lr($btnSpaceLR);
    @include breakpoint(md) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// Signature
%signature {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: responsive-size-height(65);
        width: 100%;
        background: url("../img/signature-black.svg") center no-repeat;
        background-size: contain;
    }
}

// Logo
%logo-wrap {
    display: block;
    img, svg {
        height: responsive-size-height(80);
        width: auto;
        max-width: 100%;
    }
}

// Hover
// Color
%hover-color-active {
    @extend %transition-color-fast;
    &:hover {
        color: $color-app-active;
    }
}

%hover-color-alternative {
    @extend %transition-color-fast;
    &:hover {
        color: $color-app-alternative;
    }
}

%hover-color-gray {
    @extend %transition-color-fast;
    &:hover {
        color: $color-app-gray;
    }
}

%hover-color-dark {
    @extend %transition-color-fast;
    &:hover {
        color: $color-app-dark;
    }
}

%hover-color-light {
    @extend %transition-color-fast;
    &:hover {
        color: $color-app-light;
    }
}