footer {
    section {
        &.content {
            %footer-title {
                @extend %font-style-title;
                @include responsive-font-size-title(h5);
            }
            .content {
                .title {
                    &-main {
                        @extend %footer-title;
                    }
                }
                .text {
                    &-main {
                        color: $color-app-gray;
                    }
                }
            }
            ul:not(.social) {
                @extend %footer-title;
            }
        }
        &.copyright {
            padding-bottom: 0;
        }
    }
}