/** {
    @include transition(width, height 1s $easeOutSine);
}*/

::-moz-selection {
    background: $color-app-light;
}

::selection {
    background: $color-app-light;
}

body {
    @extend %font-style-general;
    font-size: responsive-size-width($screenFontSize);
    line-height: normal;
    font-weight: 300;
    background-color: $color-app-light;
    color: $color-app-dark;
    @include breakpoint(lg) {
        font-size: $tabletFontSize * 1px;
    }/*
    @include breakpoint(md) {
        font-size: $mobileFontSize * 1px;
    }*/
}

a {
    color: $color-app-dark;
    text-decoration: none;
    @extend %hover-color-gray;
}

a h1,
a h2,
a h3,
a h4,
a h5 {
    @extend %hover-color-gray;
}

p a {
    color: $color-app-gray;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    &:focus,
    &:visited {
        color: $color-app-dark;
    }
}

h1, h2, h3, h4, h5 {
    @extend %font-style-title;
    color: $color-app-dark;
    line-height: normal;
}

@each $title-tag, $font-size in $titles-font-sizes {
    #{$title-tag} {
        font-size: responsive-font-size($font-size);
    }
}

img, svg {
    display: block;
    width: 100%;
    height: auto;
}

button:focus,
[role="button"]:focus {
    outline: 0;
}

$lineHeight: 3px;
hr {
    border: solid responsive-size-height($lineHeight/2) $color-app-light;
}