.geometric-css {
    position: relative;
    $size: 24px;
    height: 0;
    width: 0;
    overflow: hidden;
    &:after,
    &:before {
        content: '';
        position: absolute;
        width: $size;
        height: 2px;
        background: #fff;
    }
    $angle: 45deg;
    &-arrow {/*
        &-t {
            width: $size;
            height: (($size - 2px)/2)*sin($angle);
            &:after {
                top: 0;
                left: 0;
                @include transform(rotate($angle));
            }
            &:before {
                top: 0;
                left: 0;
                @include transform(rotate(-$angle));
            }
        }
        &-l {
            width: (($size - 2px)/2)*sin($angle);
            height: $size;
            &:after {
                top: 50%;
                right: -50%;
                @include transform(rotate($angle));
            }
            &:before {
                top: 50%;
                right: -50%;
                @include transform(rotate(-$angle));
            }
        }*/
        &-r {
            width: decimal-round(((($size)/2-1px)*sin(90deg - $angle)), 1);
            height: $size;
            &:after {
                top: 50%;
                left: -50%;
                @include transform(rotate($angle));
            }
            &:before {
                top: 50%;
                left: -50%;
                @include transform(rotate(-$angle));
            }
        }
    }
}