$headerSpace: 65;
header {
    // Logo
    $logoMaxWidth: 240px;
    $logoMaxHeight: 80px;
    $logoSpaceTB: 65;
    // Navigation
    $navSpace: 40;
    $navFontSize: 20;
    /*---------------*/
    position: absolute;
    width: 100%;
    z-index: 10;
    .up {
        @extend %section-text-light;
        position: relative;
        z-index: 15;
        background-color: transparent;
        .row {
            flex-wrap: nowrap;
        }
        .logo {
            @extend %logo-wrap;
            @include space-responsive-margin-tb($headerSpace);
        }
        nav {
            ul.horizontal {
                @include space-responsive-margin-b($headerSpace);
                > li {
                    @include space-responsive-margin-l($navSpace);
                    > a {
                        @extend %font-style-title;
                        font-size: responsive-font-size($navFontSize);
                        text-transform: uppercase;
                    }
                    &.active {
                        a {
                            color: $color-app-active;
                        }
                    }
                    ul {
                        li {
                            a {
                                color: $color-app-dark;
                                @extend %hover-color-gray;
                                font-size: responsive-font-size($navFontSize);
                            }
                            &.active {
                                a {
                                    color: $color-app-gray;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    &.child-fullwidth {
                        ul {
                            @include space-responsive-padding-t($headerSpace + $contentSpace);
                            opacity: 0;
                            li {
                                @extend %animation-appear-b;
                            }
                        }
                    }
                    &:not(.child-fullwidth) {
                        ul {
                            background-color: $color-app-active;
                            @include space-responsive-padding-tb($headingSpace);
                            @include space-responsive-margin-t($headerSpace);
                            /*&.columns-2 {
                                display: flex;
                            }
                            &.vertical {
                                display: block;
                            }*/
                        }
                    }
                }
            }
        }
    }
    .down {
        display: none;
        @include space-responsive-padding-tb($contentSpace);
        background-color: $color-app-active;
        color: $color-app-dark;
        @include transform(translateY(-100%));
        .signature {
            @extend %animation-appear;
        }
    }
    &.fixed {
        position: fixed;
        .up {
            background-color: $color-app-dark;
            nav {
                ul.horizontal {
                    > li {
                        &:not(.child-fullwidth) {
                            ul {
                                margin-top: 0;
                                border-top: solid responsive-size-height($headerSpace) $color-app-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}

$hamburger-padding-x                       : 0;
$hamburger-padding-y                       : 0;
$hamburger-layer-width                     : 40px;
$hamburger-layer-height                    : 4px;
$hamburger-layer-spacing                   : 6px;
$hamburger-layer-color                     : $color-full-white;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 1;
$hamburger-hover-transition-duration       : $transition-duration-fast;
$hamburger-hover-transition-timing-function: $transition-timing-function;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter    : opacity(50%);

// Remove or comment out the hamburger types you don’t want
// or need, so they get excluded from the compiled CSS.
$hamburger-types: (
        //3dx,
        //3dx-r,
        //3dy,
        //3dy-r,
        //3dxy,
        //3dxy-r,
        //arrow,
        //arrow-r,
        //arrowalt,
        //arrowalt-r,
        //arrowturn,
        //arrowturn-r,
        //boring,
        collapse,
        //collapse-r,
        //elastic,
        //elastic-r,
        //emphatic,
        //emphatic-r,
        //minus,
        //slider,
        //slider-r,
        //spring,
        //spring-r,
        //stand,
        //stand-r,
        //spin,
        //spin-r,
        //squeeze,
        //vortex,
        //vortex-r
);

@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

.mobile-menu-wrapper {
    @include breakpoint(lg) {
        position: fixed;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 7;
        background-color: $color-app-active;
    }
    nav {
        ul {
            @include space-responsive-margin-t($itemSpace);
            &:first-child {
                margin-top: 0;
            }
            &.horizontal {
                display: block;
                li {
                    @include space-responsive-margin-t($itemSpace);
                    margin-left: 0;
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}