@include keyframes(bgZoomX) {
    0% {
        background-size: 100% auto;
    }
    50% {
        background-size: 120% auto;
    }
    100% {
        background-size: 100% auto;
    }
}

main {
    background-position: 50% bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    @include animation(bgZoomX, 20s, linear);
    @media (orientation: portrait) {
        background-position: right bottom;
        background-size: auto responsive-size-height(2000);
    }
}
section {
    &.content {
        @include space-responsive-padding-t($sectionSpace);
        .col.justify-content-center {
            .heading {
                &-main {
                    @include breakpoint(lg, true) {
                        text-align: center;
                    }
                }
            }
        }
        .heading {
            &-main {
                @extend %animation-overlay-l;
                @include responsive-font-size-title(h2);
                @include space-responsive-margin-b($titleSpace);
            }
            &-additional {
                @extend %animation-overlay-l;
                @include responsive-font-size-title(h3);
                @extend %font-style-title;
                border-bottom: solid 3px $color-full-white;
            }
        }
        .content {
            &-html {
                h1,h2,h3,h4,h5 {
                    @include space-responsive-margin-b($titleSpace);
                    @extend %animation-appear-b;
                }
                p:not(:last-child),
                > a:not(:last-child) {
                    @extend %title-margin-b;
                }
                p, > a {
                    @extend %animation-appear-b;
                }
                .img-wrap {
                    @extend %animation-overlay-b;
                }
            }
        }
        &-footer {
            @include space-responsive-margin-t($sectionSpace);
            @include space(40, px, ptb);
            @extend %bg-transparent-black;
            @extend %animation-appear-b;
            .content {
                display: flex;
                align-items: center;
                width: 100%;
                > *:not(:first-child) {
                    @include space-responsive-margin-l(50)
                }
            }
        }
        &-background {
            background-position: right top;
            background-repeat: no-repeat;
            @include breakpoint(md) {
                background-size: contain;
            }
        }
    }
}