.social-icon {
    &-figure {
        display: flex;
        justify-content: center;
        align-items: center;
        span.icon {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &-figure {
        &.appstore {
            span.icon {
                background-image: url("../img/appstore.png");
            }
        }
        &.amazon {
            span.icon {
                background-image: url("../img/amazon.png");
            }
        }
        &.google-plus {
            span.icon {
                background-image: url("../img/google-plus.png");
            }
        }
        &.facebook {
            span.icon {
                background-image: url("../img/facebook.png");
            }
        }
    }
}
.social {
    &-horizontal {
        display: flex;
        align-items: center;
        .title {
            &:first-child {
                @extend %font-size-sm;
                @include space-responsive-margin-r(40);
            }
        }
        ul.horizontal {
            li {
                @extend %margin-l-px-sm;
            }
        }
    }
}