<!DOCTYPE html>
<html lang="en">
<head>
    <!-- build:section global.head -->
    <!-- /build -->
    <!-- build:process -->
    <title><%= appName %> Development</title>
    <!-- /build -->
    <!-- build:process -->
    <link rel="stylesheet" href="<%= assetsPath %>/css/vendor.css?ver=<%= cssVendorVersion %>">
    <link rel="stylesheet" href="<%= assetsPath %>/css/app.css?ver=<%= cssAppVersion %>">
    <!-- /build -->
</head>
<body>
<!-- build:section global.header -->
<!-- /build -->
<section class="banner-intro">
    <div class="content">
        <div class="contact-map">
            <script type="text/javascript"
                    src="http://maps.google.com/maps/api/js?language=en&key=AIzaSyBmCC6GeEGvUifVJaDjTkNceL22GGqfq9Q"></script>
            <div class="google-map"
                 data-map-style-color="#976e1d" data-map-zoom="14"
                 data-map-center-lat="50.390112" data-map-center-long="30.603225"
                 data-latlong="[{&quot;lat_long&quot;:&quot;50.390112, 30.603225&quot;}]"
                 data-pin-image="./assets/img/map-pin.png">
                    Google map unavailable
            </div>
        </div>
    </div>
    <figure class="figure-banner-bottom z-index-up">
        <div class="relative bottom-line"></div>
    </figure>
    <div class="hot-news">
        <a class="btn-figure-line font-style-title font-size-md" href="#">New update</a>
    </div>
    <div class="social">
        <ul class="horizontal item-btn-figure-circle item-social-icon-figure">
            <li>
                <a class="appstore" href="#">
                    <span class="icon"></span>
                </a>
            </li>
            <li>
                <a class="amazon" href="#">
                    <span class="icon"></span>
                </a>
            </li>
            <li>
                <a class="google-plus" href="#">
                    <span class="icon"></span>
                </a>
            </li>
            <li>
                <a class="facebook" href="#">
                    <span class="icon"></span>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="content content-background latest-news">
    <div class="container">
        <div class="row">
            <div class="col justify-content-center">
                <h2 class="heading-main">4 офиса в самых крупных городах Украины</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="block-style-1">
                    <div class="thumbnail">
                        <img src="./assets/img/offices-thumbnail-1.jpg" alt="Office Demo Image">
                    </div>
                    <div class="content">
                        <h3 class="title">Киев</h3>
                        <hr>
                        <p class="excerpt">вул. Болсуновська, 2<br>
                            hr@ab-games.net<br><br>
                            +38 067 400 07 91</p>
                    </div>
                </div>
            </div>
            <div class="w-100 d-lg-none"></div>
            <div class="col">
                <div class="block-style-1">
                    <div class="thumbnail">
                        <img src="./assets/img/offices-thumbnail-1.jpg" alt="Office Demo Image">
                    </div>
                    <div class="content">
                        <h3 class="title">Киев</h3>
                        <hr>
                        <p class="excerpt">вул. Болсуновська, 2<br>
                            hr@ab-games.net<br><br>
                            +38 067 400 07 91</p>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="block-style-1">
                    <div class="thumbnail">
                        <img src="./assets/img/offices-thumbnail-1.jpg" alt="Office Demo Image">
                    </div>
                    <div class="content">
                        <h3 class="title">Киев</h3>
                        <hr>
                        <p class="excerpt">вул. Болсуновська, 2<br>
                            hr@ab-games.net<br><br>
                            +38 067 400 07 91</p>
                    </div>
                </div>
            </div>
            <div class="w-100 d-lg-none"></div>
            <div class="col">
                <div class="block-style-1">
                    <div class="thumbnail">
                        <img src="./assets/img/offices-thumbnail-1.jpg" alt="Office Demo Image">
                    </div>
                    <div class="content">
                        <h3 class="title">Киев</h3>
                        <hr>
                        <p class="excerpt">вул. Болсуновська, 2<br>
                            hr@ab-games.net<br><br>
                            +38 067 400 07 91</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-md-8">
                <div class="content">
                    <img class="square" src="./assets/img/g5-logo-square.png">
                    <h5 class="title">При поддержке G5 Games Publishing</h5>
                </div>
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col col-md-4 justify-content-md-end">
                <div class="social-horizontal">
                    <p class="title">Connect with us</p>
                    <ul class="horizontal">
                        <li>
                            <a class="icon" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="icon" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="icon" href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- build:section global.footer -->
<!-- /build -->
<!-- build:process -->
<script type="text/javascript" src="<%= assetsPath %>/js/vendor.min.js?ver=<%= jsVendorVersion %>"></script>
<script type="text/javascript" src="<%= assetsPath %>/js/app.js?ver=<%= jsAppVersion %>"></script>
<!-- /build -->
</body>
</html>