<!DOCTYPE html>
<html lang="en">
<head>
    <!-- build:section global.head -->
    <!-- /build -->
    <title>Front End Development</title>
    <!-- build:process -->
    <link rel="stylesheet" href="<%= assetsPath %>/css/vendor.min.css?ver=<%= cssVendorVersion %>">
    <link rel="stylesheet" href="<%= assetsPath %>/css/app.css?ver=<%= cssAppVersion %>">
    <!-- /build -->
</head>
<body>
<!-- build:section global.header -->
<!-- /build -->
<!-- Start content -->
content
<!-- End content -->
<!-- build:section global.footer -->
<!-- /build -->
<!-- build:process -->
<script type="text/javascript" src="<%= assetsPath %>/js/vendor.min.js?ver=<%= jsVendorVersion %>"></script>
<script type="text/javascript" src="<%= assetsPath %>/js/app.js?ver=<%= jsAppVersion %>"></script>
<!-- /build -->
</body>
</html>