<!DOCTYPE html>
<html lang="en">
<head>
    <!-- build:section global.head -->
    <!-- /build -->
    <!-- build:process -->
    <title><%= appName %> Development</title>
    <!-- /build -->
    <!-- build:process -->
    <link rel="stylesheet" href="<%= assetsPath %>/css/vendor.css?ver=<%= cssVendorVersion %>">
    <link rel="stylesheet" href="<%= assetsPath %>/css/app.css?ver=<%= cssAppVersion %>">
    <!-- /build -->
</head>
<body>
<!-- build:section global.header -->
<!-- /build -->
<section class="content content-background news-archive" style="background-image: url('./assets/img/right-bg+.jpg');">
    <div class="container">
        <div class="row">
            <div class="col offset-lg-6">
                <h2 class="heading-main">Latest news</h2>
            </div>
        </div>

        <div class="row news-ajax">
            <div class="col">
                <article class="block-style-2">
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="./assets/img/latest-news-1-thumbnail.jpg" alt="Latest News Demo Image">
                        </div>
                    </div>
                    <div class="w-100 d-lg-none"></div>
                    <div class="col-lg-6">
                        <div class="content">
                            <a href="news-single.html">
                                <h3 class="title">Как я стал зарабатывать на играх: Записки game-developer`а</h3>
                            </a>
                            <p class="excerpt">
                                Возможно, ты всегда удивлялся, кто делает все те Flash-игрушки, которые в огромном
                                количестве представлены в Сети. И главное — зачем? На самом деле все до банального просто:
                                на этом люди зарабатывают деньги. Меня зовут Johnny-K, и я занимаюсь...
                            </p>
                            <a class="link" href="news-single.html">Подробнее</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <article class="block-style-2">
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="./assets/img/latest-news-2-thumbnail.jpg" alt="Latest News Demo Image">
                        </div>
                    </div>
                    <div class="w-100 d-lg-none"></div>
                    <div class="col-lg-6">
                        <div class="content">
                            <a href="news-single.html">
                                <h3 class="title">Как я стал зарабатывать на играх: Записки game-developer`а</h3>
                            </a>
                            <p class="excerpt">
                                Возможно, ты всегда удивлялся, кто делает все те Flash-игрушки, которые в огромном
                                количестве представлены в Сети. И главное — зачем? На самом деле все до банального просто:
                                на этом люди зарабатывают деньги. Меня зовут Johnny-K, и я занимаюсь...
                            </p>
                            <a class="link" href="news-single.html">Подробнее</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <article class="block-style-2">
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="./assets/img/latest-news-3-thumbnail.jpg" alt="Latest News Demo Image">
                        </div>
                    </div>
                    <div class="w-100 d-lg-none"></div>
                    <div class="col-lg-6">
                        <div class="content">
                            <a href="news-single.html">
                                <h3 class="title">Как я стал зарабатывать на играх: Записки game-developer`а</h3>
                            </a>
                            <p class="excerpt">
                                Возможно, ты всегда удивлялся, кто делает все те Flash-игрушки, которые в огромном
                                количестве представлены в Сети. И главное — зачем? На самом деле все до банального просто:
                                на этом люди зарабатывают деньги. Меня зовут Johnny-K, и я занимаюсь...
                            </p>
                            <a class="link" href="news-single.html">Подробнее</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <article class="block-style-2">
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="./assets/img/latest-news-4-thumbnail.jpg" alt="Latest News Demo Image">
                        </div>
                    </div>
                    <div class="w-100 d-lg-none"></div>
                    <div class="col-lg-6">
                        <div class="content">
                            <a href="news-single.html">
                                <h3 class="title">Как я стал зарабатывать на играх: Записки game-developer`а</h3>
                            </a>
                            <p class="excerpt">
                                Возможно, ты всегда удивлялся, кто делает все те Flash-игрушки, которые в огромном
                                количестве представлены в Сети. И главное — зачем? На самом деле все до банального просто:
                                на этом люди зарабатывают деньги. Меня зовут Johnny-K, и я занимаюсь...
                            </p>
                            <a class="link" href="news-single.html">Подробнее</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <article class="block-style-2">
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="./assets/img/latest-news-5-thumbnail.jpg" alt="Latest News Demo Image">
                        </div>
                    </div>
                    <div class="w-100 d-lg-none"></div>
                    <div class="col-lg-6">
                        <div class="content">
                            <a href="news-single.html">
                                <h3 class="title">Как я стал зарабатывать на играх: Записки game-developer`а</h3>
                            </a>
                            <p class="excerpt">
                                Возможно, ты всегда удивлялся, кто делает все те Flash-игрушки, которые в огромном
                                количестве представлены в Сети. И главное — зачем? На самом деле все до банального просто:
                                на этом люди зарабатывают деньги. Меня зовут Johnny-K, и я занимаюсь...
                            </p>
                            <a class="link" href="news-single.html">Подробнее</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col offset-lg-6">
                <div class="loadmore">
                    <a class="btn-horizontal btn-size-xl btn-offset-xl rotate-icon" href="#">
                        <svg id="ca0912e6-d031-47fd-8fbd-80687921c4f5" data-name="Business"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93 93"><title>loadmore-icon</title>
                            <circle cx="46.5" cy="46.5" r="45" fill="none" stroke="#976e1d" stroke-linejoin="round"
                                    stroke-width="3"/>
                            <circle cx="63.24" cy="31.05" r="12.05" fill="none" stroke="#976e1d" stroke-linejoin="round"
                                    stroke-width="3"/>
                            <circle cx="29.76" cy="61.95" r="12.05" fill="none" stroke="#976e1d" stroke-linejoin="round"
                                    stroke-width="3"/>
                            <polyline points="37.31 24.31 24.31 24.31 24.31 37.31" fill="none" stroke="#976e1d"
                                      stroke-linejoin="round" stroke-width="3"/>
                            <polyline points="55.69 68.69 68.69 68.69 68.69 55.69" fill="none" stroke="#976e1d"
                                      stroke-linejoin="round" stroke-width="3"/>
                            <polyline points="32.78 28.63 37.32 24.09 32.78 19.55" fill="none" stroke="#976e1d"
                                      stroke-linejoin="round" stroke-width="3"/>
                            <polyline points="60.23 64.15 55.69 68.69 60.23 73.23" fill="none" stroke="#976e1d"
                                      stroke-linejoin="round" stroke-width="3"/>
                        </svg>
                        <span class="underline">Загрузить еще новости</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-md-8">
                <div class="content">
                    <img class="square" src="./assets/img/g5-logo-square.png">
                    <h5 class="title">При поддержке G5 Games Publishing</h5>
                </div>
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col col-md-4 justify-content-md-end">
                <div class="social-horizontal">
                    <p class="title">Connect with us</p>
                    <ul class="horizontal">
                        <li>
                            <a class="icon" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="icon" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="icon" href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- build:section global.footer -->
<!-- /build -->
<!-- build:process -->
<script type="text/javascript" src="<%= assetsPath %>/js/vendor.min.js?ver=<%= jsVendorVersion %>"></script>
<script type="text/javascript" src="<%= assetsPath %>/js/app.js?ver=<%= jsAppVersion %>"></script>
<!-- /build -->
</body>
</html>