<!DOCTYPE html>
<html lang="en">
<head>
    <!-- build:section global.head -->
    <!-- /build -->
    <!-- build:process -->
    <title><%= appName %> Development</title>
    <!-- /build -->
    <!-- build:process -->
    <link rel="stylesheet" href="<%= assetsPath %>/css/vendor.css?ver=<%= cssVendorVersion %>">
    <link rel="stylesheet" href="<%= assetsPath %>/css/app.css?ver=<%= cssAppVersion %>">
    <!-- /build -->
</head>
<body>
<!-- build:section global.header -->
<!-- /build -->
<section class="content news-single">
    <article>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="heading-main">Как я стал зарабатывать
                        на играх: Записки game-developer`а</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <time class="heading-additional">11.13.17</time>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-html">
                        <p>
                            С выходом этого обновления вы сможете оформить предзаказ на новое дополнение к Hearthstone —
                            «Ведьмин лес». Кроме того, вводится несколько изменений для игры на арене (в частности, новые
                            карты, за которые зрители голосовали в прошлом году на салоне BlizzCon). Мы также начали
                            подготовку к новому году в Hearthstone, ускорили процесс загрузки и исправили ряд неполадок. С
                            выходом этого обновления вы сможете оформить предзаказ на новое дополнение к Hearthstone —
                            «Ведьмин лес». Кроме того, вводится несколько изменений для игры на арене (в частности, новые
                            карты, за которые зрители голосовали в прошлом году на салоне BlizzCon). Мы также начали
                            подготовку к новому году в Hearthstone, ускорили процесс загрузки и исправили ряд неполадок.
                            <br><br>
                            С выходом этого обновления вы сможете оформить предзаказ на новое дополнение к Hearthstone —
                            «Ведьмин лес». Кроме того, вводится несколько изменений для игры на арене (в частности, новые
                            карты, за которые зрители голосовали в прошлом году на салоне BlizzCon). Мы также начали
                            подготовку к новому году в Hearthstone, ускорили процесс загрузки и исправили ряд неполадок.
                        </p>
                    </div>
                </div>
                <div class="w-100 d-lg-none"></div>
                <div class="col">
                    <div class="content-html">
                        <div class="img-wrap">
                            <img src="./assets/img/games-img-1.png">
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="content-html">
                        <h3>Мы подготовили особое событие к началу года Ворона. Подробности — в ближайшее время.</h3>
                        <p>
                            С выходом этого обновления вы сможете оформить предзаказ на новое дополнение к Hearthstone —
                            «Ведьмин лес». Кроме того, вводится несколько изменений для игры на арене (в частности, новые
                            карты, за которые зрители голосовали в прошлом году на салоне BlizzCon). Мы также начали
                            подготовку к новому году в Hearthstone, ускорили процесс загрузки и исправили ряд неполадок. С
                            выходом этого обновления вы сможете оформить предзаказ на новое дополнение к Hearthstone —
                            «Ведьмин лес». Кроме того, вводится несколько изменений для игры на арене (в частности, новые
                            карты, за которые зрители голосовали в прошлом году на салоне BlizzCon). Мы также начали
                            подготовку к новому году в Hearthstone, ускорили процесс загрузки и исправили ряд неполадок.
                            <br><br>
                            С выходом этого обновления вы сможете оформить предзаказ на новое дополнение к Hearthstone —
                            «Ведьмин лес». Кроме того, вводится несколько изменений для игры на арене (в частности, новые
                            карты, за которые зрители голосовали в прошлом году на салоне BlizzCon). Мы также начали
                            подготовку к новому году в Hearthstone, ускорили процесс загрузки и исправили ряд неполадок.
                        </p>
                    </div>
                </div>
                <div class="w-100 d-lg-none"></div>
                <div class="col">
                    <div class="content-html">
                        <div class="img-wrap inner-glow-brown-sm">
                            <img src="./assets/img/games-img-2.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-html">
                        <a class="btn-horizontal btn-size-xl" href="news.html">
                            <span class="underline">Назад к новостям</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="content-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-md-8">
                <div class="content">
                    <img class="square" src="./assets/img/g5-logo-square.png">
                    <h5 class="title">При поддержке G5 Games Publishing</h5>
                </div>
            </div>
            <div class="w-100 d-md-none"></div>
            <div class="col col-md-4 justify-content-md-end">
                <div class="social-horizontal">
                    <p class="title">Connect with us</p>
                    <ul class="horizontal">
                        <li>
                            <a class="icon" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="icon" href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="icon" href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- build:section global.footer -->
<!-- /build -->
<!-- build:process -->
<script type="text/javascript" src="<%= assetsPath %>/js/vendor.min.js?ver=<%= jsVendorVersion %>"></script>
<script type="text/javascript" src="<%= assetsPath %>/js/app.js?ver=<%= jsAppVersion %>"></script>
<!-- /build -->
</body>
</html>